body{
    background: #a6abad;
    display: block;
}
*{
    box-sizing: border-box;    
}
.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 1000px;
    grid-template-columns: 300px 700px;
    justify-content: center;
}
@media screen and (max-width: 674px){
    .main-content{
        grid-template-columns: repeat(1,1fr);
    }
   
}
.left-section{
    background-color: #b3b8ed;
    color: #000000;
    grid-column: span 1/2;
}
.right-section{
    background-color: #d8fae2;
    color: #000000;
    grid-column: span 1/3;
}
.left-content{
    padding: 1rem;
}
.profile-image{
    display: block;
    margin: auto;
    border:solid 5px white;
    border-radius: 30%;
    width: 60%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .02rem;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;

}
.description{
    font-size: .75rem;
    text-align: center;
    padding: 1rem;
    
}
.social-media{
    display: flex;
}
.icon{
    margin-left: 2rem;
    height: 1rem;
    width: 1rem;
}
.personal-details{
    margin-top: 2rem;
    justify-content: start;
}
.personal-details .icon{
    display: flex;
}
.personal-details li{
    margin-top: 1rem;
}
.personal-details li a{
    margin-left: 1rem;
    white-space: nowrap;
    font-size: .8rem;
}
.skills{
    font-size: .75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem .5rem;
}
.skill-name{
    text-align: left;
}
.progress-bar{
    background-color: white;
    border: solid 1px white ;
    height: 4px;  
}
.right-main-content{
    padding: 2rem 3rem;
}